<nav class="flex justify-between items-center bg-stone-950 text-white py-4 px-6 shadow-md">
    <h1 class="text-3xl font-extrabold">Navbar</h1>
    <ul class="flex space-x-6 text-lg font-semibold">
        <li>
            <a routerLink="" class="focus:font-bold focus:underline transition duration-300 ease-in-out">Home</a>
        </li>
        <li>
            <a routerLink="signup" class="focus:font-bold transition duration-300 ease-in-out">Sign Up</a>
        </li>
        <!-- <li>
            <a routerLink=":fullName" class="focus:font-bold transition duration-300 ease-in-out">Display</a>
        </li> -->
        <li>
            <a routerLink="reactive/signup" class="focus:font-bold transition duration-300 ease-in-out">Reactive</a>
        </li>
    </ul>
</nav>