<p class="text-2xl mb-6">Hi, name's <span class="text-red-600">{{fullName}}</span>, email is <span class="text-orange-600">{{email}}</span>, my password is <span class="text-yellow-300">{{password}}</span>, my confirmed password is <span class="text-green-300">{{confirmPassword}}</span>, since the password matches, hence the match is <span class="text-indigo-600">{{correct}}</span>. <span class="text-violet-700">{{x}}.</span></p>

<p class="text-2xl mb-6">Hi, the name of my school is <span class="text-red-700">{{object.school}}</span> college of ICT, it is <span class="text-yellow-300">{{object.age}}</span> years old today, located in <span class="text-blue-600">{{object.address}}.</span></p>

<p class="text-2xl mb-6">Hi, name's <span class="text-green-300">{{fifthArray[0].name}}</span>. I am <span class="text-lime-400">{{fifthArray[1].age}} of age</span>.</p>

<p class="text-2xl mb-6">Hi, the name of my school is <span class="text-red-400">{{sixthArray[0].school}}</span> college of ICT, it is located in <span class="text-red-600">{{sixthArray[0].address}}</span>, it is <span class="text-red-900">{{sixthArray[0].age}}</span>  years old today.</p>

<p class="text-2xl mb-6">Hi, the name of my school is <span class="text-red-400">{{sixthArray[1].school}}</span> college of ICT, it is located in <span class="text-red-600">{{sixthArray[1].address}}</span>, it is <span class="text-red-900">{{sixthArray[1].age}}</span>  years old today.</p>

<p class="text-2xl">Hi, the name of my school is <span class="text-red-400">{{sixthArray[2].school}}</span> college of ICT, it is located in <span class="text-red-600">{{sixthArray[2].address}}</span>, it is <span class="text-red-900">{{sixthArray[2].age}}</span>  years old today.</p>